@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="inboundInfoForm">
            <input type="hidden" id="id" value="${inbound.id}">
            <input type="hidden" id="itemSize" value="${inboundDetail.~size!0}">
            <div class="row">
                <div class="col-sm-12" id="itemsArea">
                    <div class="form-group">
                        <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">负责人</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="charger" name="charger" type="text"
                                           value="${inbound.charger}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">进货经办人</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="agent" name="agent" type="text"
                                           value="${inbound.agent}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">仓库收货人</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="receiver" name="receiver" type="text"
                                           value="${inbound.receiver}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>入库日期</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="inbounddate" name="inbounddate" type="date"
                                           onclick="laydate({istime: false, format: 'YYYY-MM-DD'})"
                                           value="${inbound.inbounddateStr}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="col-wh-20" style="padding-left: 80px">
                        品号
                    </div>
                    <div class="col-wh-20" style="padding-left: 80px">
                        品名
                    </div>
                    <div class="col-wh-12" style="padding-left: 40px">
                        计量单位
                    </div>
                    <div class="col-wh-12" style="padding-left: 50px">
                        数量
                    </div>
                    <div class="col-wh-12" style="padding-left: 60px">
                        匹数
                    </div>
                    <div class="col-wh-12" style="padding-left:60px">
                        件数
                    </div>
                    <div class="col-wh-12" style="padding-left: 30px">
                        操作
                    </div>
                    @for(item in inboundDetail){
                    <div class="form-group" name="inboundItem" id="inboundItem{itemLP.index}">
                        <div class="col-wh-20">
                            <input class="form-control" type="text" name="materialno" value="${item.materialno}">
                        </div>
                        <div class="col-wh-20">
                            <input class="form-control" type="text" name="materialname" value="${item.materialname}">
                        </div>
                        <div class="col-wh-12">
                            <input class="form-control" type="text" name="unit" value="${item.unit}">
                        </div>
                        <div class="col-wh-12">
                            <input class="form-control" type="number" name="number" value="${item.number}">
                        </div>
                        <div class="col-wh-12">
                            <input class="form-control" type="number" name="pinumber" value="${item.pinumber}">
                        </div>
                        <div class="col-wh-12">
                            <input class="form-control" type="number" name="jiannumber" value="${item.jiannumber}">
                        </div>
                        <div class="col-wh-12" style="margin-top: 5px">
                            <a btnCss="danger" href="#" name="删除" id="cancel{itemLP.index}" icon="fa-remove"
                               onclick="InboundInfoDlg.deleteItem(event)" value="删除">删除</a>
                        </div>
                    </div>
                    @}
                    </input>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="增加" icon="fa-plus" clickFun="InboundInfoDlg.addItem()"/>
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InboundInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InboundInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="itemTemplate">
        <div class="form-group" name="inboundItem" id="inboundItem">
            <div class="col-wh-20">
                <input class="form-control" type="text" name="materialno">
            </div>
            <div class="col-wh-20">
                <input class="form-control" type="text" name="materialname">
            </div>
            <div class="col-wh-12">
                <input class="form-control" type="text" name="unit">
            </div>
            <div class="col-wh-12">
                <input class="form-control" type="number" name="number">
            </div>
            <div class="col-wh-12">
                <input class="form-control" type="number" name="pinumber">
            </div>
            <div class="col-wh-12">
                <input class="form-control" type="number" name="jiannumber">
            </div>
            <div class="col-wh-12" style="margin-top: 5px">
                <a btnCss="danger" href="#" name="删除" id="cancel" icon="fa-remove"
                   onclick="InboundInfoDlg.deleteItem(event)" value="删除">删除</a>
            </div>
        </div>
    </script>

    <script src="${ctxPath}/static/modular/inbound/inbound/inbound_info.js"></script>
    @}